<section class="logInSection">
    <form id="loginForm">
        <h3>Login</h3>
        <label for="username">Username</label>
        <br>
        <input id='username' type="text">
        <br>
        <label for="password">Password</label>
        <br>
        <input id='password' type="password">
        <br>
        <button type="submit">Log In</button>
    </form>
    <form id="registerForm">
        <h3>Register</h3>
        <label for="regUsername">Username</label>
        <br>
        <input id='regUsername' type="text">
        <br>
        <label for="regPassword">Password</label>
        <br>
        <input id='regPassword' type="password">
        <br>
        <label for="regRePassword">Re-Type Password</label>
        <br>
        <input id='regRePassword' type="password">
        <br>
        <button type="submit">Register</button>
    </form>
</section>

<script src="/js/login.js"></script>