* {
    color: white;
}

body {
    background: linear-gradient(#000000d8,#000000d8) ;
}

.hidden {
    display: none;
}

p {
    margin: 0px;
}

header {
    background: linear-gradient(#333333,#000000);
    border-bottom: 2px solid #00FFFF;
    padding-bottom: 10px;
}

header * {
    color: white;
    text-align: center;
}

header nav * {
    margin: 15px;
}

button {
    background-color: #000000;
    color: white;
    border: 2px solid #00FFFF;
    border-radius: 5px;
}

#registerForm {
    display: none;
}
#registerForm input {
    color: black
}

#loginForm input {
    color: black
}

.postBox {
    margin-bottom: 30px;
    border: 2px solid #00FFFF;
    border-radius: 5px;
}

.titleStyle {
    /* border: rgb(137, 137, 137) 2px solid; */
    /* background-color: lightgray; */
    padding: 5px 15px;
    /* border-bottom: solid 2px white ; */
}

.titleStyle span {
    font-size: 13px;
}

.contentStyle {
    border-top: solid 2px white ;
    border-bottom: solid 2px white ;
    /* border: rgb(137, 137, 137) 2px solid; */
    padding: 5px 15px;
    text-align: center;
    /* background-color: rgb(238, 238, 238); */
}

.contentStyle p {
    font-size: 22px;
}

.commentStyle {
    border: rgb(137, 137, 137) 2px solid;
    padding: 5px 15px;
}

.commentText {
    font-size: 16px;
    margin-bottom: 5px;
}

.commentDate {
    font-size: 11px;
}

.inputBox {
    width: 100%;
}


.commentboxStyle {
    display: flex;
    justify-content: center;
}

.optionsbox {
    text-align: center;
    border-right: rgb(137, 137, 137) 2px solid;
    border-left: rgb(137, 137, 137) 2px solid;
}

.addBtnSection {
    text-align: center;
}

h5 {
    font-weight: 400;
}

#loginForm {
    margin-bottom: 20px
}

.logInSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #000000;
}

input {
    color: #000000;
}